
/*----------------Aanimacion-------------*/

#volque {
  position: absolute;
  width: 550px;
  height: 400px;
  background-image: url(../img/volqueta.png);
    top:10px;
    left: 30%;
    
}

#luces {
  position: absolute;
  width: 550px;
  height: 400px;
  background-image: url(../img/luces.png);
     top:10px;
    left: 30%;
}
#platon {
  position: absolute;
  width: 550px;
  height: 400px;
  background-image: url(../img/platon.png);
     top:10px;
    left: 30%;
}
#butons{
    position: absolute;
    top: 450px;
    left: 10%;
}

